
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parallax {
    min-height: 100vh; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    background-image: url("https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?q=80&w=2043&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.static-block {
    height: 400px; 
    background-color: black;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 {
    background-image: url("https://images.unsplash.com/photo-1533738363-b7f9aef128ce?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.message-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.static-block .message-box {
    background-color: transparent; 
    color: white;
    box-shadow: none;
    font-size: 24px;
}

h1 {
    margin: 0;
    font-size: 3rem;
    color: #333;
}