table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid black;
            table-layout: fixed; 
    }
td {
            height: 200px;
            text-align: center;
            border: 1px solid black;
            word-wrap: break-word; 
        }